<nav class="navbar navbar-light bg-light p-0">
  <div class="container-fluid p-0 d-flex justify-content-center align-items-center">
    <div class="row">
      <div class="col-4 logo d-flex justify-content-center align-items-center">
        <p class="mb-0">#Inventario19s</p>
      </div>
      <div class="col-8 menu text-center d-flex justify-content-center align-items-center">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-2 p-0 d-flex justify-content-center align-items-end">
              <p class="mb-0">Objetivo</p>
          </div>
          <div class="col-2 p-0 d-flex justify-content-center align-items-end">
              <p class="mb-0">¿Cómo inicio?</p>
          </div>
          <div class="col-2 p-0 d-flex justify-content-center align-items-end">
              <p class="mb-0">¿Cómo funciona?</p>
          </div>
          <div class="col-2 p-0 d-flex justify-content-center align-items-end">
              <p class="mb-0">README.md</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
